.Primary{
    
    background-color: rgb(76, 9, 139);
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.accent{
    background-color: #2873b9;
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.danger{
    background-color: rgb(151, 19, 19);
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.Default{
    width:70px;
    background-color: rgb(139, 137, 137);;
    padding: 5px;
    border-radius: 3px;
    border:none;
}

.large{
    padding: 10px;
    width: 65px;
    border-radius: 4px;
    border:none;
    background-color: rgb(139, 137, 137);
}
