.Primary{
    
    background-color: rgb(76, 9, 139);
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.accent{
    background-color: #2873b9;
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.danger{
    background-color: rgb(151, 19, 19);
    border:none;
    padding: 5px;
    border-radius: 3px;
    color:white;
    width:70px;
}
.Default{
    width:70px;
    background-color: rgb(207, 202, 202);
    padding: 5px;
    border-radius: 3px;
    border:none;
}

.large{
    padding: 13px;
    width: 70px;
    border-radius: 4px;
    border:none;
    background-color: rgb(207, 202, 202);
}
.small{
    border:none;
    background-color: rgb(207, 202, 202);
    border-radius: 4px;
    padding: 5px;
}
.pill{
    border:none;
    background-color: rgb(207, 202, 202);
    border-radius: 11px;
    padding: 5px;
    width: 40px;
}
.custom{
    border:none;
    background-image:linear-gradient(to right,  rgb(82, 13, 146),rgb(52, 123, 199));
    width:70px;
    color:white;
    padding: 5px;
    border-radius: 4px;
    background-color: ;

}
